body{
	background-image: url(../images/bg.jpg);
	background-repeat: 0;
	background-repeat: no-repeat;
	background-size: 100%, 100%;
}

.bodiv{
	text-align: center;
}

.blastoff {
	margin-top: 10%;
	text-align: center;
	border: none;
	background-color: red;
	color: white;
	padding: 15px 32px;
	font-size: 26px;
	-webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.blastoff:hover{
	background-color: white;
	color: red;
	box-shadow: 0 0px 0px 16px red;
}

.reset{
	text-align: center;
	border: none;
	background-color: #004566;
	color: white;
	padding: 15px 32px;
	font-size: 26px;
	-webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.reset:hover{
	background-color: white;
	color: #004566;
	box-shadow: 0 0px 0px 16px #004566;
}

.title{
	background-image: url(../images/space.jpg);
	height: 9.5%;
	width: 100%;
	border-bottom: red;
	border-style: solid;
	border-width: 0.5%;
}

.title p{
	float: left;
	font-family: 'Orbitron', sans-serif;
	color: white;
	font-size: 67px;
	margin-left: 1%;
}

.mainDiv{
	font-family: 'Ubuntu Condensed', sans-serif;
	color: white;
	background-image: url(../images/space.jpg);
	height: 59.8%;
	width: 37%;
	margin-top: 5%;
	margin-left: 8%;
	float: left;
}

.answer{
	margin-top: 5%;
	float: right;
	height: 14.95%;
	width: 30%;
	margin-right: 15%;
	margin-bottom: 5%;
}

.answer div:hover{
	-webkit-transform:scale(1.2); 
    -moz-transform:scale(1.2); 
    -ms-transform:scale(1.2); 
    -o-transform:scale(1.2); 
    transform:scale(1.1);
    z-index: +10;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.startText{
	margin-top: 10%;
	margin-bottom: 10%;
	text-align: center;
	font-size: 35px;
	
}

.allAns{
	background-image: url(../images/space.jpg);
	font-family: 'Ubuntu Condensed', sans-serif;
	color: white;
	font-size: 25px;
	text-align: center;
}

.question{
	margin-top: 10%;
	text-align: center;
	font-size: 25px;
	background-color: black;
	padding-left: 6%;
	padding-right: 6%;
}

.timeOut{
	margin-top: 10%;
	text-align: center;
	font-size: 25px;
}

.endDisplay{
	margin-top: 10%;
	text-align: center;
	font-size: 25px;
}

.endnum{
	margin-bottom: 5%;
}

.playagain{
	margin-bottom: 5%;
}

.correctGuess{
	margin-top: 20%;
	text-align: center;
	font-size: 25px;
	background-color: black;
	padding-left: 6%;
	padding-right: 6%;
}

.incorrectGuess{
	margin-top: 20%;
	text-align: center;
	font-size: 25px;
	background-color: black;
	padding-left: 6%;
	padding-right: 6%;
}

.timer{
	font-size: 25px;
	margin-top: 6%;
	margin-left: 6%;
}

.ansAttr{
	padding: 10%;
}



.invsDiv{
	display: none;
}