body{
	background-color: grey;
	background-repeat: no-repeat;
	background-size: 100%, 100%;
}


.title{
	background-color: white;
	height: 10%;
	width: 82%;
	margin-left: 7.5%;
}

.mainDiv{
	background-color: white;
	border-style: solid;
	border-color: black;
	height: 60%;
	width: 50%;
	margin-top: 5%;
	margin-left: 8%;
	float: left;
}

.allAns{
	text-align: center;
}

.answer{
	margin-top: 5%;
	float: right;
	height: 15%;
	width: 30%;
	margin-right: 10%;
	margin-bottom: 5%;
}

.answer div:hover{
	-webkit-transform:scale(2); 
    -moz-transform:scale(2); 
    -ms-transform:scale(2); 
    -o-transform:scale(2); 
     transform:scale(1.2);
     z-index: +10;
     box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.answer2 div:hover{
	-webkit-transform:scale(2); 
    -moz-transform:scale(2); 
    -ms-transform:scale(2); 
    -o-transform:scale(2); 
     transform:scale(1.2);
     z-index: +10;
     box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}


.invsDiv{
	display: none;
}